body {
	background-color:black;
}
h1 {
	padding:26px;
	color:white;
	text-align:center;
}
.container{
	background:grey;
	border:3px solid black;
	border-radius:10px;
	width:450px;
	margin:10vh auto 0 auto;
	box-shadow:0px 0px 50px 20px rgba(153,153,153,0.9);
}
#screen {
	margin:9px 5px 7px 8px;
	border-radius:10px;
	width:95%;
	border:0.4px solid black;
	text-align:right;
	height:70px;
	line-height:90px;
	padding:16px 8px;
	font-size:29px;
	
}
.number,
.symbol
 {
	border:0;
	border-radius:50% 10%;
	width:90px;
    font-size:24px;
	height:40px;
	margin:10px 3px 12px 13px;
	cursor:pointer;

}

.symbol {
            
	background-color:#ff105e;
	color:white;
}
.symbol:hover {
	border:2px solid white;
	background-color:blue;
	color:white;
	transition:0.2s;
	
}
.number:hover{
	border:2px solid white;
	transition:0.3s;
	background-color:black;
	color:white;
}